<link rel="stylesheet" href="css/login.css">
<section>
    <form class="form" action="/login" method="post">
       <p class="form-title">Logue em sua conta</p>
        <div class="input-container">
          <input type="text" placeholder="Seu Usuario" name="user">
          <span>
          </span>
      </div>
      <div class="input-container">
          <input name="senha" type="password" placeholder="Sua Senha">
        </div>
        <input type="submit" class="submit" value="Logar">

      <p class="signup-link">
        No account?
        <a href="">Sign up</a>
      </p>
   </form>
</section>