<link rel="stylesheet" href="css/dashboard.css">
<section>
    <form class="form" action="/noticia" method="post">
       <p class="form-title">Registre uma nova noticia</p>
        <div class="input-container">
          <input type="text" placeholder="Titulo" name="titulo">
          <span>
          </span>
      </div>
              <div class="input-container">
          <input type="text" placeholder="Descrição" name="desc">
          <span>
          </span>
      </div>
        <div class="input-container">
          <input type="text" placeholder="Imagem" name="img">
          <span>
          </span>
      </div>
        <input type="submit" class="submit" value="Cadastrar">

      <p class="signup-link">
        No account?
        <a href="">Sign up</a>
      </p>
   </form>
</section>