{{#if success_msg}}
        <div class="toast align-items-center fade show text-white bg-success my-2 mx-2" style="position: absolute;" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{success_msg}}
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
{{/if}}

{{#if error_msg}}
        <div class="toast align-items-center fade show text-white bg-danger my-2 mx-2" style="position: absolute;" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{error_msg}}
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
{{/if}}